<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resources/mapper/VideoResolutionMapper.xml -->

<mapper namespace="com.lijjsk.barrage.mapper.BarrageMapper">

    <resultMap id="BaseResultMap" type="com.lijjsk.model.wemedia.barrage.pojos.Barrage">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="video_id" property="videoId"/>
        <result column="timestamp" property="timeStamp"/>
        <!-- 其他字段映射 -->
    </resultMap>

    <!-- 根据 videoId、startTime 和 endTime 查询弹幕 -->
    <select id="getBarrageList" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM barrage
        WHERE video_id = #{videoId}
          AND timestamp BETWEEN #{startTime} AND #{endTime}
    </select>

</mapper>